Tu sitio debe contener al menos 4 diferentes páginas .html, y debe ser posible entrar desde una página hasta otra siguiendo uno o más hipervínculos.
Tu sitio debe contener al menos una lista (ordenada o desordenada), al menos una tabla y al menos una imagen.
Tu sitio debe contener al menos una hoja de estilos.
Tu sitio debe usar al menos 5 diferentes propiedades CSS, y al menos 5 selectores diferentes. Debes usar el selector de #id y el de .class al menos una vez.
Tu sitio debe contener al menos un selector responsivo @media query, que debe aplicarse a pantallas más pequeñas.
Debes usar bootstrap 4 en tu sitio, para utilizar al menos un componente de bootstrap, y al menos dos columnas de bootstrap usando su grid layout.
Tus hojas de estilo deben contener al menos una variable SCSS, al menos un ejemplo de anidamiento SCSS y al menos un uso de herencia SCSS.
En README.md, incluye una breve descripción de tu proyecto, opcionalmente, que contiene cada archivo, y cualquier otra información adicional para el staff.

mi idea es un pagina web de recetas de cocina :)